.rpc-modal .modal-dialog {
  display: flex;
  justify-content: center;
}

.rpc-modal .modal-content {
  background-color: transparent;
  /* width: 75vw!important;
  max-width: 900px;
  min-width: 300px; */
}

.rpc-field {
  background: #212226;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.7);
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.node-img {
  border-radius: 50%;
  width: 5rem;
  height: auto;
}