.sidemenu-field {
  position: absolute;
  width: 250px;
}

.pro-sidebar.collapsed {
  width: 30px;
  min-width: 30px;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  justify-content: center;
}

.pro-sidebar > .pro-sidebar-inner {
  background: #212226;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}

.close-menu-btn:hover {
  cursor: pointer;
}

.pro-inner-item:hover .pro-icon-wrapper {
  color: #EA8916;
}

.pro-inner-item:hover .pro-item-content {
  color: #EA8916;
}

.sidebar-icon {
  width: 14px;
  height: 14px;
}