body {
  margin: 0;
  font-size: medium!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url(./fonts/rubik/Rubik-Regular.ttf) format('truetype');
}